<!-- <div class="app">
  <header>
    <nav>
      <a href="/" class="black-font">José María López</a>
      <ul>
        <li></li>
      </ul>
    </nav>
  </header>

  <main>
    <span>hello</span>
     <div class="container flex-column text-center">
      <div class="text">
        <h1>I build amazing web applications that solve your needs.</h1>
        <a class="button blue" href="mailto:josemaria.lopez.palomo@gmail.com">Let's talk</a>
      </div>
      <div class="image">
        <img src="/assets/images/personal.png" alt="Personal image">
      </div>
    </div> 
</main>


 <footer>

  </footer> 

</div> -->


<div class="app">
  <layout-header></layout-header>
  <layout-content></layout-content>
  <layout-footer></layout-footer>
</div>
